.gradient-button {
  width: 296px;
  height: 56px;
  color: var(--white);
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
