.meal-item {
  width: 234px;
  height: 234px;

  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  &__time {
    position: absolute;

    width: 120px;
    height: 32px;

    color: var(--white);
    background-color: var(--primary-300);

    text-align: center;
    line-height: 32px;

    bottom: 0;
  }
}
