* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
}

:root {
  --white: #FFFFFF;
  --gray-400: #777777;
  --dark-500: #414141;
  --dark-600: #2E2E2E;
  --primary-300: #FFCC21;
  --primary-400: #FF963C;
  --primary-500: #EA6C00;
  --secondary-300: #8FE9D0;
}

.bg-primary-300-400 {
  background: linear-gradient(180deg, #FFCC21 0%, #FF963C 100%);
}

.jp {
  font-family: 'Noto Sans JP', sans-serif;
}

.en {
 font-family: 'Inter', sans-serif;
}

#popup-root {
  position: absolute;
  top: 0;
  left: calc((100vw - 1280px) / 2);
}

.popup-content {
  top: 0 !important;
  left: 0 !important;
  translate: calc(1280px - 445px) 64px;
}
